<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Pioneer-Web</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">


    <!-- CSS  -->
    <link href="~/Content/css/material-design-iconic-font.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/ninja-slider.css" rel="stylesheet" type="text/css" />




    <!--owl-carousel-->
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/owl.transitions.css" rel="stylesheet" type="text/css">

    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/validation.css" rel="stylesheet" type="text/css" />

    <!--[if lt IE 9]>
       <link href="/Content/css/ie8.css" rel="stylesheet" />
       <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <script>
            <script type="text/javascript">
              WebFontConfig = {
                google: { families: [ 'Open+Sans:400,300,600,700:latin' ] }
              };
              (function() {
                var wf = document.createElement('script');
                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
              })();
            </script>
        </script>
     <![endif]-->

</head>


<body>


    <header>
        <nav id="header" class="navbar navbar-fixed-top menuSection">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="navbar-brand" href="@Url.Action("Index","home")"><img src="~/Content/img/logo.png" alt=""></a>







                </div>
                <div id="navbar" class="collapse navbar-collapse cl-effect-1 navbar-right">
                    <!--<ul class="nav navbar-nav editNav">
                         <li class="active"><a href="index.html">Home</a></li>
                         <li><a href="about_us.html">About Us</a></li>
                         <li><a href="careers.html">Careers</a></li>
                         <li><a href="#">Blog</a></li>
                         <li><a href="contact_us.html">Contact Us</a></li>
                     </ul>-->
                    <ul class="nav navbar-nav editNav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("AboutUs", "AboutUs", "Home")</li>

                        <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                        @*<li>@Html.ActionLink("Blog", "Blog", "Blog")</li>*@
                        <li>@Html.ActionLink("ContactUs", "ContactUs", "Home")</li>
                    </ul>
                </div><!-- /.nav-collapse -->









            </div><!-- /.container -->
        </nav><!-- /.navbar -->
    </header><!--End_header-->


    @RenderBody()




    <footer class="page-footer">
        <div class="container">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 padding-right">
                <h2 class="f-divtitle">LOGO</h2>
                <p>
                    We are a professional and well established online lead generation company. We sell high quality life insurance leads, health insurance leads, medical insurance leads, debt management leads, credit card leads, loan leads, mortgage leads, equity leads, business and consumer data to the leading and most respected UK companies and individuals interested in buying leads.
                    <br />
                    <a href="#">Read More...</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-left">
                <h2 class="f-divtitle">QUICK LINKS</h2>
                <ul class="f-Link">
                    <!--<li class="active"><a href="index.html">Home</a></li>
                    <li><a href="AboutUs/AboutUs">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="contact_us.html">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Policy</a></li>-->
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("AboutUs", "AboutUs", "Home")</li>
                    @*<li>@Html.ActionLink("Blog", "Blog", "Blog")</li>--> *@
                    <li>@Html.ActionLink("ContactUs", "ContactUs", "Home")</li>
                    <li>@Html.ActionLink("PrivacyPolicy", "PrivacyPolicy", "Home")</li>
                    <li>@Html.ActionLink("CookiePolicy", "CookiePolicy", "Home")</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-left">
                <h2 class="f-divtitle">SUBCRIBER NOW</h2>
                <p>
                    We'll send email notifications everytime we release new iLDS implement.
                </p>
                <div class="input-group updateNews">
                    <input type="text" class="form-control" placeholder="Enter your email">
                    <span class="input-group-btn">
                        <button class="btn-theme-colored" type="button"><img src="~/Content/img/send-icon.png"></button>
                    </span>
                </div>
                <ul class="social_media">
                    <li><a href=""><i class="zmdi zmdi-facebook zmdi-hc-fw"></i></a></li>
                    <li><a href=""><i class="zmdi zmdi-twitter zmdi-hc-fw"></i></a></li>
                    <li><a href=""><i class="zmdi zmdi-google-plus zmdi-hc-fw"></i></a></li>
                    <li><a href=""><i class="zmdi zmdi-linkedin zmdi-hc-fw"></i></a></li>
                    <div class="clr"></div>
                </ul>
            </div>
            <div class="clr"></div>
            <br />
            <hr />
            <p class="copyright-Text">Copyright pioneer-web.co.uk © 2010 - 2017 — All rights reserved.</p>
        </div>
    </footer><!--End_footer-->





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Content/js/ninja-slider.js"></script>

    <script type="text/javascript" src="~/Content/js/custom.js"></script>

</body>
</html>